<configuration>
  <packageSources>
    <!-- Fonte oficial do NuGet. Esta é a única fonte necessária. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceMapping>
    <!-- Mapeamento padrão, usando apenas a fonte oficial -->
    <add key="nuget.org" value="*" />
  </packageSourceMapping>
  <!-- CONFIG: Não precisamos de configurações extras se a fonte for o nuget.org v3 -->
</configuration>
